* {
    padding: 0;
    margin: 0;
}

:root {
    --color-three: #7b68ee;

    --color-one: #add8e6;
    --color-two: #87ceeb;
    --color-threeA: #7b68ee;
    --color-four: #4682b4;
    --color-five: #5f9ea0;
    --color-six: #008080;
    --color-seven: #6a5acd;
    --color-eight: #e6e6fa;
    --color-nine: #9370db;
    --color-ten: #483d8b;
    --color-eleven: #eee8aa;
    --color-twelve: #bdb76b;
    --color-thirteen: #2e8b57;
    --color-thirteen: #008080;
    --color-thirteen: #6b8e23;
    --color-thirteen: #f08080;
    --color-thirteen: #cd5c5c;
    --color-thirteen: #b22222;
    --color-thirteen: #ff8c00;
    --color-forteen: #BDB3F6;
    --primary-color: #1F2937;
    --sub-primary-color: #4E596F;
    --sub-sub-primary-color: #e6eeff90;
    --secoundary-color: #ffd428;
    --buttonA: #27AE60;
    --buttonB: #F66165;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #eee;
    font-family: tahoma;
}

.container {
    border-radius: 15px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
}

.container .screen {
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
}

.container .incBtn {
    background-color: var(--buttonA);
    border: none;
    width: 250px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.container .saveBtn {
    background-color: var(--buttonB);
    border: none;
    width: 250px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.container .incBtn:hover,
.container .saveBtn:hover {
    transform: translateY(-3px);
}

.container .queue {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    max-width: 250px;
}

.container .queue p {
    font-size: 15px;
}

.animation {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.animation .circleA {
    width: 1500px;
    height: 800px;
    border-radius: 50%;
    background-color: var(--color-forteen);
    position: absolute;
    top: 50%;
    right: 50%;
    animation: scaling 5s linear alternate infinite;
}

.animation .circleB {
    width: 1500px;
    height: 800px;
    border-radius: 50%;
    background-color: var(--color-forteen);
    position: absolute;
    bottom: 50%;
    left: 50%;
    animation: scaling 5s linear alternate infinite;
}

@keyframes scaling {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}